<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myplay.mapper.DynamicMapper">
  <resultMap id="BaseResultMap" type="com.myplay.model.Dynamic">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="uid" jdbcType="INTEGER" property="uid" />
    <result column="content" jdbcType="LONGVARCHAR" property="content" />
  </resultMap>
  <delete id="deleteDynamicById" parameterType="java.lang.Integer">
    delete from dynamic
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.myplay.model.Dynamic">
    insert into dynamic (createtime, 
      uid, content)
      values (#{createtime,}, 
      #{uid,jdbcType=INTEGER}, #{content,jdbcType=LONGVARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.myplay.model.Dynamic">
    update dynamic
    set title = #{title,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      uid = #{uid,jdbcType=INTEGER},
      content = #{content,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, title, createtime, uid, content
    from dynamic
    where id = #{id,jdbcType=INTEGER}
  </select>
  <!--根据userid查找用户的动态  -->
  <select id="selectDynamicByUserId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, title, createtime, uid, content
    from dynamic
    where uid = #{uid,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, title, createtime, uid, content
    from dynamic
  </select>
  <select id="selectdynamibycuser" parameterType="java.lang.Integer"
		resultType="com.myplay.model.dynamicAndUser">
		select dynamic.id,dynamic.title,dynamic.createtime,
		dynamic.uid,dynamic.content,user.id id_u,user.name,
		user.sex,user.signature,user.phone from dynamic,user 
		where dynamic.uid=user.id
	</select>
</mapper>